@model AgendamentoDTO

<div class="pt-5">
    <h2>Novo Agendamento</h2>

    <form asp-action="Criar">

        <div class="form-horizontal">

            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdCliente" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.Clientes"> </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IdServico" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="IdServico" class="form-control" asp-items="ViewBag.Servicos"> </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraAgendada" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataHoraAgendada" class="form-control" />
                    <span asp-validation-for="DataHoraAgendada" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-padrao" />
                    <a asp-action="Index" class="btn btn-padrao">Voltar</a>
                </div>
            </div>
        </div>
    </form>
</div>