@model ClienteDTO

<div class="pt-5">
    <h2>Cadastrar Novo Cliente</h2>

    <form asp-action="Criar">

        <div class="form-horizontal">

            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataNascimento" type="date" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Bairro" class="form-control" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Estado" class="form-control">
                        <option value="">Selecione a UF</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Cep" type="number" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Telefone" type="number" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-padrao" />
                    <a asp-action="Index" class="btn btn-padrao">Voltar</a>
                </div>
            </div>
        </div>
    </form>
</div>